<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Swag barca</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding" >
  
  <div>

    <form>

    <ion-grid>

      <ion-row>
        
        <ion-col>

        </ion-col>

        <ion-col class="bordi">
          
          <ion-grid>

            <ion-row>

              <ion-col class="bordi" size="3">
                <ion-label position="floating">°C</ion-label>
                <ion-input name="C" [(ngModel)]="centigradi" (keyup)="onChangeCentigradi()"></ion-input>
              </ion-col>

              <ion-col class="bordi" size="3">
                <ion-label position="floating">F</ion-label>
                <ion-input name="F" [(ngModel)]="fahrenheit" (keyup)="onChangeFahrenheit(fahrenheit)"></ion-input>
              </ion-col>

              <ion-col class="bordi" size="3">
                <ion-label position="floating">KM</ion-label>
                <ion-input name="KM" [(ngModel)]="kilometri" (keyup)="onChangeKm(kilometri)"></ion-input>
              </ion-col>

              <ion-col class="bordi" size="3">
                <ion-label position="floating">MI</ion-label>
                <ion-input name="MI" [(ngModel)]="miglia" (keyup)="onChangeMi(miglia)"></ion-input>
              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-col>

        <ion-col>
          
        </ion-col>

      </ion-row>

    </ion-grid>
  </form>
  </div>

</ion-content>