<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Swag barca</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  
    <div>

      <form>

        <ion-grid class="set-grid">

          <ion-row>

            <ion-col class="ion-text-center">

              <app-titolo-dev-skill titolo="Inserisci i dati per il login" ></app-titolo-dev-skill>

            </ion-col>

          </ion-row>

          <br>
          <br>
          <br>

          <ion-row>
            <ion-col>

            </ion-col>

            <ion-col>
  
             <app-input-username icona="person-sharp" tipo="text" nome="Username"></app-input-username>
              
            </ion-col>

            <ion-col>

            </ion-col>

          </ion-row>

          <br>
          <br>

          <ion-row>
            <ion-col>

            </ion-col>

            <ion-col>

                <app-input-username icona="lock-closed" tipo="password" nome="Password"></app-input-username>
                
            </ion-col>

            <ion-col>

            </ion-col>

          </ion-row>

          <br>
          <br>

          <ion-row>

            <ion-col>

            </ion-col>

            <ion-col>
              
              <ion-button (click)="eventoDiClick()" class="ion-float-right" expand="block">LOGIN</ion-button>
              <app-bottone-personalizzato link="/registrazione" parola="Registrati"></app-bottone-personalizzato>

            </ion-col>

            <ion-col>

            </ion-col>

          </ion-row>

        </ion-grid>

      </form>

    </div>

</ion-content>